html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* border: 1px dashed rgb(133, 133, 133);
} */
*/ img {
  max-width: 100%;
  text-align: center;
}

img.alohalogo {
  width: 25%;
}

/* body {
    font-family: 'Raleway'; 
    color: black; 
    text-align: center; 
    
} */

/* typography */

/* p  { color:black;
     font-size: 18.4px; 
     font-family: 'Railway', sans-serif; 
     font-weight: 200; 
     text-align: center; 
     line-height: 2; 
} */

h5 {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: "Playfair Display";
}

h3 {
  color: white;
  text-align: center;
  font-family: "Playfair Display";
}

h4 {
  color: #2d2d2d;
  font-size: 38.4px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0px 0px 24px;
}

h2 {
  color: white;
  font-size: 38.4px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
  text-shadow: 1px 1px grey;
}

/* .section {
    color: white; 
    font-family: 'Playfair Display'
    font-size: 16px; 
    text-align: center; 
} */

/* begin nav */

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  /* width: 100%; */
  height: 100px;

  /* flex-basis: 100px; 
/* padding: 100px 0px;  */
  /* justify-content: flex-end;  */
}

.logo {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  padding: 0px;
  /* font-size: 30px;  */
}

.logo img {
  width: 150px;
}

ul.site-nav {
  display: flex;
  /* width: 100%;  */
  padding: 16px;
  /* display: flex;  */
  flex-wrap: wrap;
  justify-content: flex-start;
  /* flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 100;  */
}

.site-nav li {
  padding: 11px;
}
.site-nav li a {
  padding: 5px;
  color: #e2574c;
  display: inline;
  font-family: "Raleway";
  font-size: 14.4px;
  text-decoration: none;
}

.shopping-cart {
  height: auto;
  text-align: right;
  width: 25%;
  justify-content: space-around;
}

img.shopping {
  height: 50px;
}

/* .site-header :nth-child(3){
    max-width: 
} */

/* 
 .container {
    flex-basis: 50px; 
    padding: 0; 


} */

/* .site-nav > li{
    display: inline-block; 
    align-content: center; 
} */

/* end nav */

/* container */
.products {
  display: grid;
  grid-template-areas:
    "Mens Mens"
    "Trends Glasses"
    "Sale Bags"
    "Womens Womens";
}

.product {
  position: relative;
  overflow: hidden;
}

.products > img {
  position: absolute;
  top: 0;
  /* display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 5px;  */
}

.product p {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px grey;
}

.product-mens {
  grid-area: Mens;
  /* width: 50%; */
  /* padding-left: 0px; */
  border: 0px;
  /* flex: 2; */
}
.product-trends {
  /* width: 25%; */
  grid-area: Trends;
  /* padding: 0px;  */
  /* flex: 1;  */
  border: 0px;
}

.product-glasses {
  /* width: 25%; */
  grid-area: Glasses;
  /* padding: 0px;  */
  /* flex: 1;  */
  border: 0px;
}
.product-sale {
  /* width: 25%; */
  /* padding: 0px;  */
  /* flex: 1; */
  grid-area: Sale;
  border: 0px;
}
.product-bags {
  /* width: 25%; */
  grid-area: Bags;
  border: 0px;
  /* padding: 0px; 
    margin: 0px;  */
  /* flex: 1;  */
}

.product-womens {
  /* width: 50%; */
  grid-area: Womens;
  border: 0px;
  /* padding: 0px;
    flex: 2;  */

  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.products img {
  padding: 5px;
  /* width: 207px 0px 0px, 250px, 150px, 150px, 100px, 250px; */
  max-width: 150%;
  max-height: 200px;
  border: 5px;
}

div.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0px;
  align-items: stretch;
  justify-content: center;
  /* padding: 240px; */
  /* max-width: 240px */
  /* align-content: space-around;  */
}

/* align-items: flex-start; */
/* display: inline-block;  
  


   



/* banner area  */

.container-small {
  align-items: center;
  max-width: 740px;
  margin: 0 auto;
  font-size: 18.4px;
  justify-content: space-between;
  padding: 64px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 2;
  color: #2d2d2d;
}

/* p.section { 

} */

.banner {
  background-image: url(../images/banner-girl.png),
    url(../images/flower-bkgd.jpg);
  padding: 100px 0px;
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: center;
  /* padding: 64px 0px;  */
}
h3.collection {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-shadow: 1px 1px grey;
  /* margin: 0px 0px 24px;  */
  /* padding: 40px;  */
}

section.banner {
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: "Playfair Display";
  text-shadow: 1px 1px grey;
  /* margin: 0px 0px 20px;  */
  font-weight: 400px;
}

h5 {
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: "Playfair Display";
  text-shadow: 1px 1px grey;
  margin: 0px 0px 20px;
  font-weight: 400px;
}

/* .products {
    position: relative;
} */

/* * 'About Area' */

.styles {
  font-style: normal;
  font-weight: bold;
}

.headingproducts {
  font-style: normal;
  font-weight: bold;
}

/* header area */

/* .section {
    padding: 50px; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
} */

/* .shopping { */
/* position: absolute; 
    margin-top: 5px;
    margin-bottom: 5px;
    right: 200px; */
/* } */

/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  } */

.newsletter {
  padding: 110px;
  background-image: url(../images/wave-bkgd.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.newsletter h2 {
  text-align: center;
}

/* .simple-subscription-form .button {
    margin-bottom: 0;
    border-radius: 0 0 0 0;
    align-items: center; 
   
  } */

.updates {
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

.newsletter p {
  color: white;
  text-shadow: 1px 1px grey;
  font-size: 18px;
  font-family: "Railway", sans-serif;
  font-weight: 200;
  text-align: center;
}

p#footer-text {
  color: white;
  line-height: 1.5;
  /* align-items: flex-end;  */
  text-align: left;
  font-size: 16px;
  font-family: "Playfair", sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #242424;
}

.footer-icons {
  padding-right: 25px;
  width: 10 px;
  padding: 20px;
  display: inline-block;
}

/* My comment*/
