html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*/ img {
  max-width: 100%;
  text-align: center;
}

img.alohalogo {
  width: 25%;
}

/* typography */

h5 {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: "Playfair Display";
}

h3 {
  color: white;
  text-align: center;
  font-family: "Playfair Display";
}

h4 {
  color: #2d2d2d;
  font-size: 38.4px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0px 0px 24px;
}

h2 {
  color: white;
  font-size: 38.4px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
  text-shadow: 1px 1px grey;
}

/* begin nav */

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  /* width: 100%; */
  height: 100px;
}

.logo {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  padding: 0px;
  /* font-size: 30px;  */
}

.logo img {
  width: 150px;
}

ul.site-nav {
  display: flex;
  /* width: 100%;  */
  padding: 16px;
  /* display: flex;  */
  flex-wrap: wrap;
  justify-content: flex-start;
  /* flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 100;  */
}

.site-nav li {
  padding: 11px;
}
.site-nav li a {
  padding: 5px;
  color: #e2574c;
  display: inline;
  font-family: "Raleway";
  font-size: 14.4px;
  text-decoration: none;
}

.shopping-cart {
  height: auto;
  text-align: right;
  width: 25%;
  justify-content: space-around;
}

img.shopping {
  height: 50px;
}

/* end nav */

.products {
  display: flex;
  justify-content: center;
}

/* Text over category images  */
.product {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.product.large {
  width: calc(50% - 10px);
}

.product.small {
  width: calc(25% - 10px);
}

.products > img {
  display: flex;
  top: 0;
}

.product p {
  color: white;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px grey;
}

.product-mens {
  background: url(../images/mens-category.jpg);
  background-size: cover;
  height: 25vw;
  border: 20px;
}
.product-trends {
  background: url(../images/trends-category.jpg);
  background-size: cover;
  height: 25vw;
}

.product-glasses {
  background: url(../images/glasses-category.jpg);
  background-size: cover;
  height: 25vw;
}
.product-sale {
  background: url(../images/sale-category.jpg);
  background-size: cover;
  height: 25vw;
}
.product-bags {
  background: url(../images/bags-category.jpg);
  background-size: cover;
  height: 25vw;
}

.product-womens {
  background: url(../images/womens-category.jpg);
  background-size: cover;
  height: 25vw;
}

.products img {
  padding: 5px;
  max-width: 100%;
  max-height: 200px;
  border: 5px;
}

div.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0px;
  align-items: stretch;
  justify-content: center;
  align-items: flex-start;
}

/* banner area  */

.container-small {
  align-items: center;
  max-width: 740px;
  margin: 0 auto;
  font-size: 18.4px;
  justify-content: space-between;
  padding: 64px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 2;
  color: #2d2d2d;
}

.banner {
  /* display: flex;
  justify-content: center; */
  background-image: url(../images/banner-girl.png),
    url(../images/flower-bkgd.jpg);
  padding: 100px 0px;
  background-repeat: no-repeat, repeat;
  background-size: 150px 369px, contain;
  background-position: bottom;
}

h3.collection {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 1px 1px grey;
  position: relative;
}

section.banner {
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: "Playfair Display";
  text-shadow: 1px 1px grey;
  font-weight: 400px;
}

.banner p {
  padding: 15px;

  /* position: relative; */
}

h5 {
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: "Playfair Display";
  text-shadow: 1px 1px grey;
  margin: 0px 0px 20px;
  font-weight: 400px;
}

/* * 'About Area' */

.styles {
  font-style: normal;
  font-weight: bold;
  position: relative;
  padding: 2px;
}

.headingproducts {
  font-style: normal;
  font-weight: bold;
}

/* featured-items area */

.mostloved {
  padding: 40px;
  margin: 40px;

  /* header area */

  /* most loved products area  */
}

/* mobile style */
.carousel-cell {
  width: 100%;
  text-align: center;
}

/* media query example */

.carousel-label {
  text-align: center;
  font-size: 24px;
  color: #e2574c;
  font-family: "Playfair Display", serif;
}

.product-type {
  font-size: 16px;
  color: #969696;
  /* font-weight: 700; */
  font-family: "Raleway", sans-serif;
}

.price {
  font-size: 16px;
  color: #969696;
  font-family: "Raleway", sans-serif;
}

.newsletter {
  padding: 110px;
  background-image: url(../images/wave-bkgd.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-bottom: 8px;
}

.newsletter h2 {
  text-align: center;
}

.updates {
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

.newsletter p {
  color: white;
  text-shadow: 1px 1px grey;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 2;
}

.newsletter-subscribe {
  text-align: center;
}

input#subscribe {
  padding: 4px 24px;
  font-family: "Raleway", serif;
  background: #e2574c;
  border-radius: 1em;
  color: white;
  font-size: 18px;
  position: relative;
  left: -5em;
  height: 35px;
}

input#your-email {
  left: 57px;
  border-radius: 2em;
  width: 27em;
  height: 2em;
  font-family: "Raleway", serif;
  font-size: 18px;
  position: relative;
  padding: 20px;
  font-weight: 300;
}

p.footer-text {
  color: white;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

.address {
  color: #969696;
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  font-size: 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  padding: 50px 50px;
}

.social {
  padding-right: 25px;
  width: 10 px;
  padding: 0px;
  display: inline-block;
  color: white;
  line-height: 2;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.fab {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .carousel-cell {
    width: 25%;
  }
}

@media screen and (max-width: 480px) {
  .site-nav {
    order: 5;
  }
  .site-header {
    flex-wrap: wrap;
  }
}

/* My comment*/
